<div [formGroup]="formStepGroup">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <fieldset>
      <label
        for="enderecoCompleto"
        class="block text-sm font-medium text-gray-700"
        >Endereço completo<span class="text-red-500">*</span></label
      >
      <input
        type="text"
        id="enderecoCompleto"
        formControlName="enderecoCompleto"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      />
    </fieldset>
    <fieldset>
      <label for="cidade" class="block text-sm font-medium text-gray-700"
        >Cidade<span class="text-red-500">*</span></label
      >
      <input
        type="text"
        id="cidade"
        formControlName="cidade"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      />
    </fieldset>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
    <fieldset>
      <label for="cep" class="block text-sm font-medium text-gray-700"
        >CEP<span class="text-red-500">*</span></label
      >
      <input
        type="text"
        mask="00000-000"
        id="cep"
        formControlName="cep"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      />
    </fieldset>
    <fieldset>
      <label for="estado" class="block text-sm font-medium text-gray-700"
        >Estado<span class="text-red-500">*</span></label
      >
      <input
        type="text"
        id="estado"
        formControlName="estado"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      />
    </fieldset>
    <fieldset>
      <label for="pais" class="block text-sm font-medium text-gray-700"
        >País<span class="text-red-500">*</span></label
      >
      <input
        type_=""
        id="pais"
        formControlName="pais"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      />
    </fieldset>
  </div>

  @if(formStepGroup.invalid && formStepGroup.touched) {
  <p class="text-sm text-red-600 mt-4">
    Por favor, preencha todos os campos obrigatórios.
  </p>
  }
</div>
